<div class="container">
	<div class="cinema-list">
		<h1 class="header-title">Cinema List</h1>
		<ul class="cinema">
			<% @cinemas.each do |cinema| %>
				<li>
					<%= image_tag(cinema.show.image_url, class: 'thumbnail', size: "220x123") %>
					<div class="cinema-info">
						<h1><%= cinema.show.name %>
							<% if cinema.show.number > 0 %>
								<%= "- Episode #{cinema.show.number}" %>
							<% end %>
						</h1>
						<% if (cinema.show_time < Time.now) %>
							<span class="info info-live">Now Showing</span>
						<% else %>
							<span class="info info-coming">Start in <%= duration(cinema.show_time - Time.now) %></span>
						<% end %>
						<span class="info info-hall"><%= cinema.name %></span>
						<p><%= cinema.show.description %></p>
					</div>
					<% if cinema.show_time < Time.now %>
						<div class="buttons"><a class="btn btn-watch" href="<%= cinema_path(cinema) %>">Watch Now</a></div>
					<% else %>
						<div class="buttons btn btn-coming-soon">Coming Soon<div>

					<% end %>
				</li> 
			<% end %>
		</ul>
	</div>
</div>

