<div class="container">
	<div class="cinema-list">
		<h1 class="header-title">Cinema List</h1>
		<ul class="cinema">
			<% @showtimes.each do |cinema| %>
				<li>
					<%= image_tag(cinema.show.image_url, class: 'thumbnail', size: "220x123") %>
					<div class="cinema-info">
						<h1><%= cinema.show.name %>
							<% if cinema.show.number > 0 %>
								<%= "- Episode #{cinema.show.number}" %>
							<% end %>
						</h1>
						<span class="info">Start time - <%= cinema.show_time.strftime('%I:%M %p') %></span>
						<span class="info">Cinema Name - <%= cinema.name %></span>
						<p><%= cinema.show.description %></p>
					</div>
					<div class="buttons"><a class="btn btn-watch" href="<%= cinema_path(cinema) %>">Watch Now</a></div>
				</li> 
			<% end %>
		</ul>
	</div>
</div>

